<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="baseDir">logs</Property>
    <Property name="defaultPattern">
      %highlight{%d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] %logger%varsNotEmpty{:%marker} - %msg%n%throwable}{FATAL=white,
      ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}
    </Property>
    <Property name="defaultPatternForFile">
      %d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] %logger%varsNotEmpty{:%marker} - %msg%n%throwable
    </Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${defaultPattern}"/>
    </Console>

    <RollingFile name="RollingFileInfo" fileName="${baseDir}/app-info.log"
      filePattern="${baseDir}/$${date:yyyy-MM}/app-info-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="${defaultPatternForFile}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="200 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="100">
        <Delete basePath="${baseDir}" maxDepth="2">
          <IfFileName glob="*/app-*.log.gz">
            <IfLastModified age="30d">
              <IfAny>
                <IfAccumulatedFileSize exceeds="5 GB"/>
                <IfAccumulatedFileCount exceeds="10"/>
              </IfAny>
            </IfLastModified>
          </IfFileName>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <RollingFile name="RollingFileError" fileName="${baseDir}/app-error.log"
      filePattern="${baseDir}/$${date:yyyy-MM}/app-err-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="${defaultPatternForFile}"/>
      <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="200 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="org.springframework" level="info"/>
    <Logger name="org.hibernate" level="error"/>
    <Logger name="org.jboss.logging" level="off"/>

    <Root level="all">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFileInfo"/>
      <AppenderRef ref="RollingFileError"/>
    </Root>
  </Loggers>
</Configuration>