<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="baseDir">logs</Property>
        <Property name="defaultPattern">
            %highlight{%d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] %logger%varsNotEmpty{:%marker} - %msg%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}
        </Property>
        <Property name="defaultPatternForFile">
            %d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] %logger%varsNotEmpty{:%marker} - %msg%n%throwable
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${defaultPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="error"/>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>