<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate1</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
         <!--<property name="hbm2ddl.auto">update</property>-->
        <mapping resource="Agent.hbm.xml" />
        <mapping resource="Cmd.hbm.xml" />
        <mapping resource="CmdResult.hbm.xml"/>
    </session-factory>
</hibernate-configuration>